/* REMOVED ADS */
iframe[id*="google_ads_iframe"], /* Definitely Google AdSense */
.block-ad, .inline-ad-container, /* Sidebar ads and container for ad iframe */
.topBannerAd-container,  /* Container for ad iframe at top */
.cp-background, a.cp2077, /* Cyberpunk 2077 background */
.billboard /* top ad banner */
{
  display: none !important;
}

/* BLURED ADS */
iframe[src*="google"]:not(:hover) /* Probably Google AdSense */
{
  opacity: .1;
  filter: blur(10px);
  user-select: none;
  pointer-events: none;
}

/* REMOVED SITE FEATURES */
.badge-sticky-button:not(:hover), /* badge on bottom-right corner to promote their app */
.get-the-app, .get-the-app-banner, /* badge at end of sidenav to promote their app */
a[href="/apps"], a.app-store, a.google-play, /* link to their apps */
.nav-menu .new:after,
.block-social-love, .social-love, /* badge at end of sidenav to promote their social meadia */
article .share .btn-share /* share buttons on each post */
{
  display: none !important;
}

/* move video mute to the left to unblock the controls */
.video-post {
  overflow: visible !important;
  line-height: 0;
}

.video-post .sound-toggle {
  right: 100% !important;
  left: unset !important;
  bottom: 0 !important;
  border-radius: 50% 0 0 50% !important;
}

.video-post .length {
  left: 100% !important;
  right: unset !important;
  bottom: 0 !important;
  border-radius: 0 13px 13px 0 !important;
}

/* stop video drag on control bar drag */
.post-container a {
  user-drag: none;
  -webkit-user-drag: none;
}

/* article fullscreen */
article.--ext-zoom {
  --ext-zoom-background: rgba(32,32,32,0.7);
  transform: scale(var(--ext-zoom, 1)) translateX(calc(var(--ext-zoom-intend, 0px) / var(--ext-zoom, 1)));
  background-color: var(--ext-zoom-background);
  z-index: 1000;
  position: relative;
  outline: calc(150vw + 50vh) var(--ext-zoom-background) solid;
}

#container {
  overflow: visible !important;
}

body {
  overflow-x: hidden !important;
  padding-right: 60px !important;
}

/* center focus highlighting to show current center play */
article.--ext-in-center {
  transition: 200ms ease-in background-color;
  background-color: rgba(127, 127, 127, 0.1)  !important;
  border-left: 15px solid transparent !important;
  margin-left: -15px !important;
}

/* better dark mode */
body.theme-dark:not(.--ext-original-dark),
body.theme-dark:not(.--ext-original-dark) .drawer,
body.theme-dark:not(.--ext-original-dark) .sticky-navbar,
body.theme-dark:not(.--ext-original-dark) .post-afterbar-a.in-post-top,
body.theme-dark:not(.--ext-original-dark) #container .CS3 {
  background-color: #1A1A1A !important;
}

/* If connatix video insertions are disabled */
.--ext-blocked>* {
  display: none !important;
}
.--ext-blocked>.--ext-blocked-msg {
  display: block !important;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* move things that might be covered by the new right control bar to the left */
.badge-scroll-to-top {
  right: 80px !important;
  bottom: 40px !important;
}

.qc-cmp-persistent-link {
  right: 63px !important;
}

.function-wrap {
  right: 60px !important;
}

/* controls */
.--ext-controls {
  --ext-width: 60px;
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--ext-width);
  color: white !important;
  background-color: rgba(0,0,0,1);
  font-size: calc(var(--ext-width) / 4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
@media only screen and (min-width: 1200px) {
  .--ext-controls {
    --ext-width: 65px;
  }
}
@media only screen and (min-width: 1500px) {
  .--ext-controls {
    --ext-width: 70px;
  }
}

.--ext-option {
  margin: 0.5em 5px;
}
.--ext-value {
  text-align: center;
  font-size: 0.8em;
}

button.--ext-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: inherit !important;
  padding: 0.3em;
  font-size: 1.4em !important;
  outline: none !important;
}
button.--ext-button:not(:disabled):hover {
  opacity: 0.9;
}

button.--ext-button.--ext-undo {
  background-color: white;
  color: black;
}

input.--ext-range {
  display: block;
  margin-top: 0.5em;
  width: 100%;
}

.--ext-option-switch {
  display: flex;
  align-items: center;
  justify-content: left;
  width: var(--ext-width);
  flex-wrap: nowrap;
  user-select: none;
  font-size: 0.9em;
}
.--ext-option-switch>input {
  margin: 0 calc(var(--ext-width) / 20);
}

body:not(.theme-dark) .--ext-original-dark-option {
  display: none;
}

/* mozilla fallback style because it does not have a webkit-appearance  */
@supports not (-webkit-appearance: slider-vertical) {
  input.--ext-range {
    display: block;
    position: relative;
    width: 200%;
    height: var(--ext-width);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    left: calc(5px - var(--ext-width) / 2);
    margin: calc(var(--ext-width) / 2) 0;
    overflow: hidden;
  }
}

@supports (-webkit-appearance: slider-vertical) {
  input.--ext-range {
    display: block;
    margin-top: 0.5em;
    -webkit-appearance: slider-vertical;
    width: 100%;
  }
}

/* video cover */
.video-post::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

/*stop clicks in zoom */
.--ext-zoom-blocker {
  position: fixed;
  cursor: pointer;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* download */
body.theme-dark li[data-v-download] {
  border: 1px solid rgba(255,255,255,.2);
}
li[data-v-download] {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 16px;
  height: 34px;
  border: 1px solid rgba(0,0,0,.1);
}

.--ext-download:after {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z' fill='%23999' /%3E%3C/svg%3E");
  background-size: cover;
}
